$font-family-base: 'Open Sans', Arial, sans-serif;
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.35;


$black: #343434;
$white: #fff;
$gray: #f0f0f0;
$grayLight: #fafafa;
$grayNormal: #ccc;
$blue: #0982e2;
$blueHover: #0186ff;