doctype html
html
    head
        include ../../../config/config
    body
        include ../../blocks/global/header

        block page

        include ../../blocks/global/footer
        script(src='/assets/js/main.js')
